
.button{
	position:relative;
	width: 130px;
	height: 50px;
	font-size: 20px;
	background-color: #1f1f1e;
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: width .5s;
	border-radius: .5s;
}
.button *{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity .25s;
}
.fas{
	opacity: 0;
}
.button:focus{
	width: 50px;
	background-color: #1dc663;
	border-radius: 50%;
}
.button:focus .text{
	opacity: 0;
}
button:focus .fas{
	opacity: 1;
	transition-delay: .5s;
}